* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

[class*='col-'] {
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
}

body {
    background-color: #F0F0F0;
}

.btn-outline-primary {
    border: 2px solid #008DD6;
    font-weight: bold;
}

.btn-outline-primary.disabled {
    border-color: #A1A1A1;
    color: #A1A1A1;
}

.card-body {
    padding-bottom: 0;
}

.card-footer {
    padding: 0 1.25rem 1.25rem 1.25rem;
    background-color: #ffffff;
    border: 0;
}

.product-content {
    text-align: center;
    padding: 1em 1em 0 1em;
    margin-bottom: 1em;
    max-width: 100%;
    height: auto;

}

.product-title
{
    min-height: 4em;
    width: 100%;
    display: block;
}

.ellip {
    display: block;
    height: 100%;
    text-align: center;

}

.ellip-line {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    max-width: 100%;
}

.ellip,
.ellip-line {
    position: relative;
    overflow: hidden;
}

/*if we need to define some extra value */

/*.pi-lg {*/
/*max-width: 300px;*/
/*max-height: 250px;*/
/*}*/

/*.pi-md {*/
/*max-width: 230px;*/
/*max-height: 190px;*/
/*}*/

/*.pi-sm {*/
/*max-width: 400px;*/
/*max-height: 200px;*/
/*}*/

a.text-secondary {
    color: #2F2F2F;
}

a.text-secondary:hover {
    text-decoration: none;
    color: #2F2F2F;

}

.price-info {
    color: #A1A1A1;

}

.price-new {
    color: #19DF82;
}

.price {
    color: #2F2F2F;
}

footer {
    background: #343a40;
    padding: 40px;
}


@media screen and (max-width: 320px) {

    .product-content{
        min-width: 320px;
    }

}
@media screen and (max-width: 460px) {

    p.product-title
    {
        min-height: 2.4em;
    }
}